In [1]:
import numpy as np
import pandas as pd
from visits import Visit
import glob

In [2]:
cohort_1_details = pd.read_csv("cohort_1_details.csv", sep=',')
cohort_2_details = pd.read_csv("cohort_2_details.csv", sep=',')
cohort_3_details = pd.read_csv("cohort_3_details.csv", sep=',')
cohort_4_details = pd.read_csv("cohort_4_details.csv", sep=',')

In [3]:
test1 = Visit("../In2Research_data/data/P/C/WP0322", cohort_1_details, cohort_2_details, cohort_3_details, cohort_4_details)

In [4]:
test1.cohort

1

In [5]:
test2 = Visit("../In2Research_data/data/P/C/PC0600", cohort_1_details, cohort_2_details, cohort_3_details, cohort_4_details)

In [6]:
test2.details

,Unnamed: 0,Project ID,birth_deid_date,death_deid_date,sex,icu_visit,icu_start_deid_dttm,icu_end_deid_dttm,failed_extubation_flag,failed_extubation_deid_date,intubation_flag,extubation_flag,extubation_deid_date,extubation_score,re_intubation_deid_date,icu_ward,extubation_duration,age (days)
14,740,PC0600,2013-06-15 00:00:00,NaN,Male,1,2017-08-11 17:23:00,2017-08-23 18:50:00,1.0,2017-08-12 13:45:00,1,1.0,2017-08-12 13:45:00,5.0,2017-08-14 19:00:00,FLAMI,315.0,1519.572917

In [7]:
test1.start_time

'2016-08-02 14:30:00'

In [8]:
test2.start_time

'2017-08-12 13:45:00'

In [9]:
test1.details["extubation_deid_date"]

6    2016-07-25 14:00:00
Name: extubation_deid_date, dtype: object

In [10]:
test1.start_time

'2016-08-02 14:30:00'

In [11]:
for file in glob.glob("../In2Research_data/data/P/C/PC0600" + "/*"):
    if "_HR" in file:
        print(file)

../In2Research_data/data/P/C/PC0600/PC0600_1_HR.csv

In [12]:
test1.directory

'../In2Research_data/data/P/C/WP0322'

In [13]:
test2.hr()

['../In2Research_data/data/P/C/PC0600/PC0600_1_HR.csv']

      monitor    record_date_time  num_value
15140      HR 2017-08-12 13:45:09         82
15141      HR 2017-08-12 13:45:14         80
15142      HR 2017-08-12 13:45:19         79
15143      HR 2017-08-12 13:45:25         78
15144      HR 2017-08-12 13:45:29         80
...       ...                 ...        ...
52726      HR 2017-08-14 18:59:30         84
52727      HR 2017-08-14 18:59:35         83
52728      HR 2017-08-14 18:59:40         84
52729      HR 2017-08-14 18:59:45         85
52730      HR 2017-08-14 18:59:50         85

[37591 rows x 3 columns]

In [14]:
test2.start_time

'2017-08-12 13:45:00'

In [15]:
path = "../In2Research_data/data/"

all_files = glob.glob(path + "/*")

cohort_dict = {1: [], 2: [], 3: [], 4: [],}

for letter1 in all_files:
    for letter2 in glob.glob(letter1 + "/*"):
        for id in glob.glob(letter2 + "/*"):
            visit = Visit(id, cohort_1_details, cohort_2_details, cohort_3_details, cohort_4_details)
            if visit.cohort:
                cohort_dict[visit.cohort].append(visit)

In [18]:
cohort_dict[1][8].hr()

['../In2Research_data/data/I/Z/IZ2966/IZ2966_1_HR.csv']

       monitor    record_date_time  num_value
309933      HR 2017-10-08 15:00:07        134
309934      HR 2017-10-08 15:00:12        132
309935      HR 2017-10-08 15:00:17        133
309936      HR 2017-10-08 15:00:22        136
309937      HR 2017-10-08 15:00:27        141
...        ...                 ...        ...
312856      HR 2017-10-08 19:19:31         86
312857      HR 2017-10-08 19:19:36         87
312858      HR 2017-10-08 19:19:41         88
312859      HR 2017-10-08 19:19:46         89
312860      HR 2017-10-08 19:19:51         90

[2928 rows x 3 columns]