In [3]:
import numpy as np
import pandas as pd
from visits import Visit

In [4]:
cohort_1_details = pd.read_csv("cohort_1_details.csv", sep=',')
cohort_2_details = pd.read_csv("cohort_2_details.csv", sep=',')
cohort_3_details = pd.read_csv("cohort_3_details.csv", sep=',')
cohort_4_details = pd.read_csv("cohort_4_details.csv", sep=',')

In [5]:
test1 = Visit("../In2Research_data/data/P/C/PC0600", cohort_1_details, cohort_2_details, cohort_3_details, cohort_4_details)

In [6]:
test1.details

,Unnamed: 0,Project ID,birth_deid_date,death_deid_date,sex,icu_visit,icu_start_deid_dttm,icu_end_deid_dttm,failed_extubation_flag,failed_extubation_deid_date,intubation_flag,extubation_flag,extubation_deid_date,extubation_score,re_intubation_deid_date,icu_ward,extubation_duration,age (days)
14,740,PC0600,2013-06-15 00:00:00,NaN,Male,1,2017-08-11 17:23:00,2017-08-23 18:50:00,1.0,2017-08-12 13:45:00,1,1.0,2017-08-12 13:45:00,5.0,2017-08-14 19:00:00,FLAMI,315.0,1519.572917