In [1]:
import numpy as np
import pandas as pd
from visits import Visit, Cohort
import glob
import pymannkendall as mk
from datetime import datetime, timedelta

In [2]:
cohort_1_details = pd.read_csv("cohort_1_details_v3.csv", sep=',')
cohort_2_details = pd.read_csv("cohort_2_details_v3.csv", sep=',')
cohort_3_details = pd.read_csv("cohort_3_details_v3.csv", sep=',')
cohort_4_details = pd.read_csv("cohort_4_details_v3.csv", sep=',')

In [3]:
pd.DataFrame(cohort_1_details['extubation_duration'].quantile(q=[0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]))

     extubation_duration
0.0                123.0
0.1                180.0
0.2                229.0
0.3                285.0
0.4                360.0
0.5                420.0
0.6                600.0
0.7                840.0
0.8               1128.0
0.9               1272.0
1.0               1430.0

In [5]:
pd.DataFrame(cohort_2_details['available_duration'].quantile(q=[0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]))

     available_duration
0.0                 0.0
0.1                90.0
0.2               174.0
0.3               270.7
0.4               390.0
0.5               572.5
0.6               867.2
0.7              1110.0
0.8              1234.2
0.9              1345.0
1.0              1438.0

## 10-20 % of cohort 2 have less than 120 mins available so need to go back and take this out and re-stratify